<?xml version="1.0" encoding="utf-8"?>
<%- if @entities %>
<!DOCTYPE server-xml [
<%- @entities.each do |name, file| %>
  <!ENTITY <%= name %> SYSTEM "<%= !file ? "#{name}.xml" : file %>">
<%- end %>
]>
<%- end -%>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<Server port="<%= @server_port || '8005' %>" shutdown="SHUTDOWN" >
<%- if @include_default_listeners || @include_defaults %>
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
<%- end %>
<%-
if @listeners
  @listeners.each do |listener|
    if listener.is_a?(String)
%>
    <Listener className="<%= listener %>" />
<%-
    elsif listener.is_a?(Hash)
%>
    <Listener className="<%= listener['class_name'] %>"
<%-
      listener['params'].each do |name, value|
%>
              <%= name %>="<%= value %>"
<%-
      end
%>
              />
<%-
    end
  end
end

if @include_default_user_database || @include_defaults
%>
    <GlobalNamingResources>
      <Resource name="UserDatabase"
                auth="Container"
                type="org.apache.catalina.UserDatabase"
                description="User database that can be updated and saved"
                factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                pathname="conf/tomcat-users.xml"
                />
    </GlobalNamingResources>
<%- end -%>

    <Service name="Catalina">
<%-
if @entities
  @entities.each do |name, _|
%>
        &<%= name %>;
<%-
  end
end

if @include_default_connectors || @include_defaults
%>

        <Connector port="8080"
                   protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   redirectPort="8443"
                   />

        <Connector port="8009" protocol="AJP/1.3" redirectPort="8443" />
<%-
end

if @include_default_engine || @include_defaults
%>

        <Engine name="Catalina" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"
                       />
            </Realm>

            <Host name="localhost"
                  appBase="webapps"
                  unpackWARs="true"
                  autoDeploy="true"
                  />

        </Engine>
<%- end %>
    </Service>
</Server>
